# AFFiNE

{{ template "chart.description" . }}

## Introduction

This chart bootstraps an [AFFiNE](https://github.com/toeverything/AFFiNE) deployment on a [Kubernetes](http://kubernetes.io) cluster using the [Helm](https://helm.sh) package manager.

## Chart Info

| Field | Value |
|-------|-------|
| Version | ![Chart](https://img.shields.io/badge/Chart-{{ template "chart.version" . }}-informational?style=flat-square) ![App](https://img.shields.io/badge/App-{{ template "chart.appVersion" . }}-informational?style=flat-square) |
| Source | {{ range $index, $source := .Sources }}{{ if $index }}<br>{{ end }}<a href="{{ $source }}">{{ $source }}</a>{{ end }} |

## Prerequisites

- Kubernetes {{ template "chart.kubeVersion" . }}
- Helm 3.0+
- PostgreSQL 16+ (Required)
  - For AI features: `pgvector/pgvector:pg16` is required
- Redis 6.x or 7.x (Required)

## Installing the Chart

To install the chart with the release name `my-affine`:

```bash
helm install my-affine dev-charts/{{ template "chart.name" . }} -f your-values.yaml
```

## Uninstalling the Chart

To uninstall/delete the `my-affine` deployment:

```bash
helm uninstall my-affine
```

## Upgrade Notes

- Back up your AFFiNE database before upgrading in production.
- This chart runs the GraphQL migration job as a `pre-install,pre-upgrade` Helm hook.
- Review chart values carefully before rollback if a release included schema changes.

## Parameters

{{ template "chart.valuesTable" . }}

*(See [values.yaml](https://github.com/dalamudx/helm-charts/raw/refs/heads/main/charts/affine/values.yaml) for the full list of configuration options.)*
