# {{ template "chart.name" . }}

{{ template "chart.description" . }}

## Introduction

This chart bootstraps an [n8n](https://n8n.io) deployment on a [Kubernetes](http://kubernetes.io) cluster using the [Helm](https://helm.sh) package manager.

## Chart Info

| Field | Value |
|-------|-------|
| Version | ![Chart](https://img.shields.io/badge/Chart-{{ template "chart.version" . }}-informational?style=flat-square) ![App](https://img.shields.io/badge/App-{{ template "chart.appVersion" . }}-informational?style=flat-square) |
| Source | {{ range $index, $source := .Sources }}{{ if $index }}<br>{{ end }}<a href="{{ $source }}">{{ $source }}</a>{{ end }} |

## Prerequisites

- Kubernetes {{ template "chart.kubeVersion" . }}
- Helm 3.0+
- PV provisioner support in the underlying infrastructure
- PostgreSQL (Required for production)
- Redis (Required for queue mode)

## Installing the Chart

To install the chart with the release name `my-n8n`:

```bash
helm install my-n8n dev-charts/{{ template "chart.name" . }}
```

## Uninstalling the Chart

To uninstall/delete the `my-n8n` deployment:

```bash
helm uninstall my-n8n
```

## Parameters

{{ template "chart.valuesTable" . }}

*(See [values.yaml](https://github.com/dalamudx/helm-charts/raw/refs/heads/main/charts/n8n/values.yaml) for the full list of configuration options.)*
