# Vaultwarden

{{ template "chart.description" . }}

## Introduction

This chart bootstraps a [Vaultwarden](https://github.com/dani-garcia/vaultwarden) deployment on a [Kubernetes](http://kubernetes.io) cluster using the [Helm](https://helm.sh) package manager.

## Chart Info

| Field | Value |
|-------|-------|
| Version | ![Chart](https://img.shields.io/badge/Chart-{{ template "chart.version" . }}-informational?style=flat-square) ![App](https://img.shields.io/badge/App-{{ template "chart.appVersion" . }}-informational?style=flat-square) |
| Source | {{ range $index, $source := .Sources }}{{ if $index }}<br>{{ end }}<a href="{{ $source }}">{{ $source }}</a>{{ end }} |

## Prerequisites

- Kubernetes {{ template "chart.kubeVersion" . }}
- Helm 3.0+
- Persistent volume support if `storage.enabled=true`
- An external PostgreSQL or MySQL service if `database.type` is not `sqlite`

## Installing the Chart

To install the chart with the release name `my-vaultwarden`:

```bash
helm install my-vaultwarden dev-charts/{{ template "chart.name" . }} -f your-values.yaml
```

## Uninstalling the Chart

To uninstall/delete the `my-vaultwarden` deployment:

```bash
helm uninstall my-vaultwarden
```

## Parameters

{{ template "chart.valuesTable" . }}

*(See [values.yaml](https://github.com/dalamudx/helm-charts/raw/refs/heads/main/charts/vaultwarden/values.yaml) for the full list of configuration options.)*
